* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nvbckg {
	background-image: url(../images/headerbg.jpg);
	background-size: cover;
	height: 100vh;	
	background-position: center center;
	background-repeat: no-repeat;
	letter-spacing: 1px;
	
}

.navbar-toggler {
	background-color: white;
	border-radius: 500px;
}


.showcase {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgba(0, 0, 0, .5);
}


.story-container {
	
}

